@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Canada Bank</h1>
    <h4>Canada Bank strives for efficient service and customer care. With every $1 deposited to our bank you get 1 Tim Horton's Donut!</h4>
    <h5 style="color: red" >Sounds good eh? Login or Register above to get started</h5>
</div>
